body{
  color: #777;
  background: #4CAF50;
}

h1{
  font-size:50px;
  font-weight: 100;
}

button{
  width: 100%;
  height: 50px;
  background-color: #4CAF50;
  margin: 0px 0px 10px;
  color: white; /*font color*/
  border: none;
  font-size:40px;
  font-weight: 100;
}

button:hover{ /*hover means when cursor is on d button */
  background-color: #F9F9F9;
  border: solid;
  border-color: #4CAF50;
  color: black; /*font color*/
}

input:hover{ /* hover means when cursor is on d button*/
  border-width: 1px;
  border-color:#4CAF50;
}


#container{
  width: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#form{
  padding: 25px;
  background-color: #F9F9F9;
  box-shadow: 0px 0px 25px 0px;
}

/* mobile version, can choose not to put */
@media (max-width:640px){
  #container{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
